.projects-grid {
  display: grid;
  gap: 0.5rem;
}

.project-card {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Apilar los elementos verticalmente */
    justify-content: space-between; /* Asegura que haya espacio entre los elementos */
    background-color: #262a30; /* fallback color */
    background-image: linear-gradient(to bottom right, #4B5563, #1F2937);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    padding: 0.75rem; /* Añade un poco de padding para el contenido */
    height: auto; /* Asegúrate de que tenga altura */
  }

.project-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.project-link {
    font-size: 0.75rem; /* Tamaño de texto pequeño */
    color: #4f46e5; /* Color inicial del texto */
    padding: 0.5rem 1rem; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); /* Fondo claro */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    display: inline-block; /* Para que el padding funcione correctamente */
    margin-top: auto; /* Empuja el enlace hacia abajo */
  }
  

/* Efecto al pasar el ratón */
.project-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo más oscuro */
    color: #e0e7ff; /* Cambiar color del texto */
    transform: scale(1.05); /* Agrandar ligeramente */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra del texto */
   
}

@media (min-width: 640px) {
    .projects-grid {
      gap: 0.75rem; /* Ajusta el espacio para pantallas pequeñas */
    }
  }
  
  @media (min-width: 768px) {
    .projects-grid {
      gap: 1rem; /* Ajusta el espacio para pantallas medianas */
    }
  }

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-title {
  font-size: 1rem; /* Ajusta el tamaño del título aquí */
  /* Puedes ajustar otros estilos si lo deseas */
}